---
import Layout from "../../layouts/Layout.astro";
import portfolio from "../../data/portfolio.json";
import { Icon } from "astro-icon/components";
import Drawer from "../../components/layout/Drawer.astro";
---

<section id="education" class="grid min-h-screen place-items-center p-5 md:10">
	<div class="md:flex max-w-6xl justify-center font-serif">
      <h1>This is Education page</h1>
	</div>
</section>