---
import { Icon } from "astro-icon/components";
import portfolio from "../../data/portfolio.json";
import Grade from "../ui/Grade.astro";

// import ku from "../../assets/ku.png";
// import mmcc from "../../assets/mmcc.png"
// import kzs from "../../assets/kzs.png"


---

<section id="projects" class="min-h-screen flex place-items-center">
	<div>
     <p>This is Project page</p>
	</div>
</section>