---
const { key, value } = Astro.props
const hasContetn = key && value
---
{
  hasContetn && (
    <section class="flex gap-1">
      <span class="font-semibold">{key}:</span>
      <p>{value}</p>
    </section>
  )
}