---
import css from "../styles/global.css";
import { Icon } from "astro-icon/components";
import portfolio from "../data/portfolio.json";
---

<aside
  id="drawer"
  class="fixed inset-y-0 right-0 w-72 translate-x-full bg-surface shadow-xl transition-transform duration-300 font-serif md:hidden">    
  <div class="flex h-full flex-col">
    <!-- Header -->
    <div class="flex justify-end p-4">
      <button
        id="close-btn"
        class="rounded-full bg-white/10 p-2 text-white backdrop-blur-md"
      >
        <Icon name="lucide:circle-chevron-right" class="h-7 w-7" />
      </button>
    </div>

    <!-- Drawer Items -->
    <nav class="">
      <ul class="flex flex-col items-end mr-7 gap-3 backdrop-blur-md shadow-lg">
        {portfolio.navigation.map((item) => (
          <li>
            <a
              href={item.href}
            >
              {item.title}
            </a>
          </li>
        ))}
      </ul>
    </nav>  
  </div>
</aside>
