---
import portfolio from "../data/portfolio.json";
import me from "../assets/me.jpeg";
import "../styles/global.css";
import { Icon } from "astro-icon/components";


---
<section>
     <div class="hero-container">      
      <div class="md:flex">
        <div class="profile-div">
          <img
            src={me.src}
            alt="Abid Shahriar"
            class="hero-image transition-transform duration-300 hover:scale-105"
          />
        </div>
        <div class="px-8 py-4">
          <div>Hey, I am</div>
          <div class="mt-5 text-5xl md:text-5xl tracking-tight whitespace-nowrap text-white">Abid Shahriar</div>
          <span class="mt-5 typing text-2xl text-gray-300">
            I write code <Icon
              name="lucide:code-xml"
              class="inline-block h-6 w-6 align-middle text-cyan-400"
            />
          </span>
          <p class="mt-5 text-gray-500 text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
</section>

<style>
  @reference "../styles/global.css";

  .hero-container {
      @apply mx-auto w-full max-w-6xl px-8 whitespace-normal font-serif;
    }

  .hero-title {
    @apply text-white tracking-tight;
  }

  .profile-div {
    @apply flex justify-center py-4 md:justify-center shrink-0;
  }

  .hero-image {
      width: clamp(8rem, 25vw, 15rem);
      height: clamp(8rem, 25vw, 15rem);
      border-radius: 9999px;
      object-fit: cover;
  }

</style>