---
---

<div class="relative bottom-10 text-center text-nowrap place-items-center text-sm md:text-md text-slate-500 font-serif">
  <p>Build with <a target="_blank" href="https://astro.build/" class="font-semibold hover:underline text-cyan-400">Astro</a> & <a target="_blank" href="https://tailwindcss.com/" class="text-cyan-400 hover:underline font-semibold">Tailwind CSS</a> | Source code is available in <a target="_blank" href="" class="text-slate-300 font-semibold">Github</a></p>
  <p>&#9426; Abid Shahriar 2026</p>
</div>