<section class="flex items-center gap-4">
  <div class="h-px w-40 bg-slate-700"></div>

  <div class="flex items-center gap-4">
    <p class="text-lg font-semibold text-nowrap">Get in touch</p>

    <a target="blank" href="mailto:shahriarswapnil10@gmail.com" aria-label="LinkedIn">
      <svg class="w-7 h-7 mt-0 text-[#0A66C2] hover:opacity-80 hover:shadow-md transition-opacity" width="64px" height="64px" viewBox="0 -2.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#242323" stroke="#242323"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>email [#0287d9]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-340.000000, -922.000000)" fill="#fa0000"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M294,774.474 L284,765.649 L284,777 L304,777 L304,765.649 L294,774.474 Z M294.001,771.812 L284,762.981 L284,762 L304,762 L304,762.981 L294.001,771.812 Z" id="email-[#0287d9]"> </path> </g> </g> </g> </g></svg>
    </a>

    <a href="linkedin.com/in/abid-shahriar10" target="blank" aria-label="GitHub">
      <svg class="w-6 h-6 mt-0 text-[#0A66C2] hover:opacity-80 hover:shadow-md transition-opacity" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
        <path fill-rule="evenodd" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" clip-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</section>


