---
import Drawer from "../components/layout/Drawer.astro";
import Navbar from "../components/layout/Navbar.astro";
import css from "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="bg-slate-900 text-white">
    <Drawer />
    <div class="flex">
      <Navbar />
      <main class="p-3 mr-3 md:w-4/5 max-w-6xl">
        <slot />
      </main>
    </div>
  </body>
</html>


    <!-- <div class="grid min-h-screen place-items-center">
      <main class="w-full max-w-6xl p-5 md:p-10">
        <slot />
      </main>
    </div> -->
