---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body class="flex flex-col items-center justify-center min-h-screen bg-black text-white">
    <main>
      <slot />
    </main>
  </body>
</html>