---
import Drawer from "../components/layout/Drawer.astro";
import Sidebar from "../components/layout/Sidebar.astro";
import Navbar from "../components/layout/Navbar.astro";

import Social from "../components/layout/Social.astro";
import css from "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="bg-slate-900 text-gray-300 text-base scrollbar-thin">
    <Drawer />
    <div class="flex">
      <Sidebar />
      <Navbar />
      <div class="md:fixed hidden md:block bottom-4 left-4">
        <Social />
      </div>

      <main class="md:ml-10 p-3 mr-3 max-w-6xl font-serif font-normal">
        <slot />
      </main>
    </div>
  </body>
</html>


    <!-- <div class="grid min-h-screen place-items-center">
      <main class="w-full max-w-6xl p-5 md:p-10">
        <slot />
      </main>
    </div> -->
