---
import Layout from "../layouts/Layout.astro";
import portfolio from "../data/portfolio.json";

---

<Layout title={portfolio.profile.name}>
  <!-- <h1 class="text-3xl font-bold ">{portfolio.profile.name}</h1>
  <p>{portfolio.profile.title}</p> -->
</Layout>