
---
const { title } = Astro.props

---

<span
  class="inline-flex 
    items-center 
    rounded-full 
   bg-emerald-100/30 
   px-3
   py-1
   text-sm
   text-cyan-300
   font-medium
   backdrop-blur-sm 
   transition-colors 
   shrink-0
"
>
  {title}
</span>