
---
const { title } = Astro.props

---

<span
  class="inline-flex 
    items-center 
    rounded-full 
   bg-emerald-100/10 
   px-3
   py-1
   text-xs
   text-cyan-400
   font-medium
   shrink-0
"
>
  {title}
</span>